#!/usr/bin/env bash
# vim:filetype=sh

touch "$HOME"/.gitconfig

cfg="command git --no-optional-locks config --global"
if ! $cfg --get user.signingkey &>/dev/null; then
  if gpg --list-secret-keys {{ .gitemail | quote }} &>/dev/null; then
    GPG_SIGNINGKEY=$(gpg --list-secret-keys --keyid-format LONG {{ .gitemail | quote }} | grep sec | awk '{print $2}' | cut -d/ -f 2)

    if [[ -n $GPG_SIGNINGKEY ]]; then 
      $cfg user.signingkey $GPG_SIGNINGKEY
      $cfg commit.gpgsign true
      $cfg gpg.program gpg
    fi
  fi
fi

$cfg url."git@github.com:".insteadOf "https://github.com/"
