#!/usr/bin/env bash
# This script is to install system-wide cli-tools.

set -euo pipefail

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{ $sudo = "" -}}
{{ end -}}

packages="{{ .commonPackages.linux.common | join " " }}"

{{ if eq .osid "linux-arch" -}}
packages="$packages {{ .commonPackages.linux.arch | join " " }}"
{{ end -}}

{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}
packages="$packages {{ .commonPackages.linux.debian | join " " }}"
{{ end -}}


{{ if eq .osid "linux-arch" -}}
{{ $sudo }}pacman -Sy $packages --noconfirm --needed
{{ end -}}

{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}
{{ $sudo }}apt update
{{ $sudo }}apt install -y $packages
{{ end -}}
