{{- if (eq .chezmoi.os "darwin") -}}

#!/usr/bin/env bash
# This script is to install system-wide cli-tools.
# packages hash: {{ include "Brewfile" | sha256sum }}
# MacOS build version: {{ output "sw_vers" "--buildVersion" }}

set -euo pipefail

# 1. Install Homebrew
command -v brew &>/dev/null || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ if (eq .uname_arch "x86_64") }}
brew="/usr/local/bin/brew"
{{ else }}
brew="/opt/homebrew/bin/brew"
{{ end }}
$brew --version


# 2. Install Homebrew packages
## `brew bundle dump` to generate Brewfile
$brew bundle --file="{{ .chezmoi.sourceDir }}/Brewfile"

{{- end -}}
