#!/usr/bin/env bash
# vim:filetype=sh
# https://www.gnupg.org/documentation/manuals/gnupg/Invoking-GPG_002dAGENT.html

GPG_TTY=$(tty)
export GPG_TTY

# launch gpg-agent if not up
if ! pgrep -U "$USER" gpg-agent >/dev/null; then
  eval "$(gpg-connect-agent --quiet /bye)"
fi
