#!/usr/bin/env bash
# vim:filetype=sh
# https://www.gnupg.org/documentation/manuals/gnupg/Invoking-GPG_002dAGENT.html

GPG_TTY=$(tty)
export GPG_TTY

# launch gpg-agent if not up
if ! pgrep --list-full --uid "$USER" --exact gpg-agent >/dev/null; then
  eval "$(gpg-agent --daemon)"
fi

cfg="command git --no-optional-locks config --global"
if ! $cfg --get user.signingkey &>/dev/null; then
  GPG_SIGNINGKEY=$(gpg --list-secret-keys --keyid-format LONG {{ .gitemail | quote }} | grep sec | awk '{print $2}' | cut -d/ -f 2)

  if [[ -n $GPG_SIGNINGKEY ]]; then 
    $cfg user.signingkey $GPG_SIGNINGKEY
    $cfg commit.gpgsign true
    $cfg gpg.program gpg
  fi
fi
